* {
     padding: 0;
     margin: 0;
   }
   
   .menu-icon-div{
     position: absolute;
   }
   
   .menu {
     width: max-content;
     height: max-content;
   }

   
   
   .menu {
     display: flex;
     position: relative;
     align-items: center;
     font-size: 18px;
     color: gray;
     width: max-content;
     height: max-content;
     justify-content: center;
     padding: 5px;
     z-index: 1;
   }
   .divs {
     display: grid;
     grid-gap: 5px;
     margin-left: 0rem;
   }
   
   .div {
     width: 20px;
     border: 2px solid white;
   }
   .drop-down-div {
     position: absolute;
     display: none;
     background-color: white;
     font-size: 20px;
     height: max-content;
     width: 13vw;
     top: 31px;
     left: 0em;
     text-align: left;
     padding-top: 50px;
     overflow: hidden;
     background-color: white;
     color: #3e7081;
   }
   .menu:hover .drop-down-div {
     cursor: pointer;
     display: block;
   }
   
   .drop-down-list {
     margin-bottom: 5px;
     margin-top: 18px;
     margin-right: 6rem;
     margin-left: 10px;
     font-weight: bold;
   }